body {
  font-family: Lato;
  font-size: 19px;
  margin: 0;
}
.div1 {
  padding: 10px;
  margin: 30px;
  margin-left: 250px;
}

.div1 p {
  font-style: Lato;
  width: 500px;
  margin-left: 0px;
  color: rgb(143, 140, 140);
}
.div2 {
}
.div2 img {
  vertical-align: middle;
  width: 50%;
}
.div2 .text2 {
  vertical-align: middle;
  display: inline-block;
  width: 45%;
}
.div3 img {
  width: 50%;
  vertical-align: middle;
  float: right;
}
.div3 .text3 {
  vertical-align: middle;
  display: inline-block;
  width: 45%;
}
/* 
.div2 h1 {
  display: inline-block;
  width: 120px;
}
.div2 p {
  display: inline-block;
}
.div2 h2 {
  width: 10cm;
  display: inline;
} */
a:hover {
  background-color: yellow;
}
.div3 button {
  margin-left: 15px;
  border-radius: 8px;
  border-color: rgb(228, 135, 14);
  color: orange;
  background-color: white;
  width: 120px;
  height: 40px;
}

.div2 button {
  margin-left: 15px;
  border-radius: 8px;
  border-color: rgb(228, 135, 14);
}

/* margin-auto na sredini */
